.map-frame {
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
    direction: rtl;
    font-family: Arial, Helvetica, sans-serif;
}

.main-screen-layout {
    display: flex;
    position: absolute;
    inset: 0;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
    background: linear-gradient(0deg, rgba(60, 85, 110, 0.06) 0%, rgba(60, 85, 110, 0.06) 100%), var(--white-white, #FFF);
}

.top-bar {
    display: flex;
    height: 72px;
    padding: var(--xs, 8px) var(--l, 32px);
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
}

.screen-content {
    display: flex;
    flex-grow: 1;
    width: 100%;
}

.right-panel {
    display: flex;
    width: 440px;
    height: 100%;
    padding-top: 24px;
    flex-direction: column;
    align-items: center;
    gap: -45px;
    align-self: stretch;
    border-radius: 0px var(--m, 24px) 0px 0px;
    background: var(--white-white, #FFF);
}

.tree-structure {
    display: flex;
    width: 320px;
    padding: 48px 8px 24px 24px;
    flex-direction: column;
    align-items: flex-end;
    gap: 24px;
    align-self: stretch;
    /* remove later */
    padding-top: 24px;
}

h1{
    color: var(--color-bay-of-many, #224687);
}